.container{
   height: 500px;
   width: 500px;
   background-color: green;
   border: 3px solid red;
   display: flex;
}

.box{
    border: 1px solid orange;
    background-color: aqua;
    height: 150px;
    width: 150px;
    margin: 20px;

    /*Below are transition properties*/
    /* transition: 1s; */
    /* transition-property: background-color; */
    /* transition-delay: 5s; */

    /* transition: transform  2s  ease  3s; */
    /* transition:  background-color  1s  ease  3s; */
    /*1--->which property to apply
    2--->transition duration
    3---->transition timing function
    4----->transition delay*/

    transition: transform  1s  ease  1s;
    
}

.box:hover{
    background-color: brown;
    transform: scale(2) translate(301px) rotate(90deg) ;
}